body .lp-multi-channel-engagement {
	position: fixed;
	right: 0px;
	bottom: 0;
	padding: 0;
	height: 110px;
	width: 110px;
	cursor: pointer;
	display: block !important;
}

@media screen and (max-width: 767px) {
	body .lp-multi-channel-engagement {
		background: url(https://d1hryyr5hiabsc.cloudfront.net/button_graphics/Chat+icon_80x80.svg) no-repeat 50% 50%;
	}
}

body .lp-multi-channel-buttons {
	position: absolute;
	bottom: 0;
	right: -200px;
	transition: right 0.5s;
	width: 250px;
	height: auto;
	padding: 15px;
}

body .lp-multi-channel-buttons .lp-multi-channel-image {
	position: relative;
	float: right;
	right: 0;
	clear: right;
	transition: right 0.5s ease, opacity 1s ease 3s;
	opacity: 1;
	margin: 10px 0 0 0;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	body .lp-multi-channel-buttons .lp-multi-channel-image {
		display: none !important;
	}
}

body.engagement-offered .lp-multi-channel-buttons {
	right: 0;
	opacity: 1;
}

body.engagement-offered .lp-multi-channel-buttons .lp-multi-channel-image:not(.lp-multi-channel-main) {
	transition: right 0.5s ease 4s, opacity 1s ease 3s;
	opacity: .5;
	right: -200px;
}

body.engagement-offered .lp-multi-channel-buttons .lp-multi-channel-image.lp-multi-channel-main {
	transition: 0.7s ease 4s;
	transform: rotate(90deg);
}

body.engagement-offered.engagement-loaded .lp-multi-channel-image:not(.lp-multi-channel-main) {
	opacity: 0.5;
}

body .lp-multi-channel-buttons:hover .lp-multi-channel-image {
	right: 0 !important;
	opacity: 1 !important;
}

body .lp-multi-channel-buttons:hover .lp-multi-channel-image:nth-child(1):not(.lp-multi-channel-main) {
	transition: right 0.44s ease 0.1s, opacity 1s ease !important;
}

body .lp-multi-channel-buttons:hover .lp-multi-channel-image:nth-child(2):not(.lp-multi-channel-main) {
	transition: right 0.48s ease 0.2s, opacity 1s ease !important;
}

body .lp-multi-channel-buttons:hover .lp-multi-channel-image:nth-child(3):not(.lp-multi-channel-main) {
	transition: right 0.52s ease 0.3s, opacity 1s ease !important;
}

body .lp-multi-channel-buttons:hover .lp-multi-channel-image:nth-child(4):not(.lp-multi-channel-main) {
	transition: right 0.56s ease 0.4s, opacity 1s ease !important;
}

body .lp-multi-channel-buttons:hover .lp-multi-channel-image.lp-multi-channel-main {
	transform: rotate(0);
	transition: 1s ease 0.2s;
}
